.navigation_bar {
    background-color: #00A2AD;
    overflow: hidden;
    border: 1px solid black;
}

.navigation_bar__logo_wrapper {
    float: left;
    margin: 0.5%;
}

.navigation_bar__title_box {
    float: left;
    font-size: 1.25rem;
    margin: 0.5% 0;
}

.navigation_bar__title {
    font-weight: bold;

}

.navigation_bar__button_box {
    float: right;
    width: 50%;
    text-align: right;
    margin: 0;
}

.navigation_bar__yellow_button {
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem;
    display: inline-block;
    background-color: #F6A800;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    width: 110px;
    margin: 0.5%;
    padding: 2% 3%;
}

.navigation_bar__yellow_button:hover,
.navigation_bar__yellow_button:focus {
    background-color: #FFB911;
    box-shadow: none;
    transition: all 0.2s;
}

.navigation_bar__blue_button {
    cursor: pointer;
    text-align: center;
    font-size: 1.25rem;
    display: inline-block;
    background-color: #00A2AD;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    width: 110px;
    margin: 0.5%;
    padding: 2% 3%;
}

.navigation_bar__blue_button:hover,
.navigation_bar__blue_button:focus {
    background-color: #11B2BE;
    box-shadow: none;
    transition: all 0.2s;
}