.presentation {
    min-height: 600px;
}

.presentation__main_wrapper {
    margin: 10% auto;
    overflow: auto;
}

.presentation__main_wrapper__text {
    text-align: center;
    display: block;
    height: 100%;
    line-height: 105px;
}

.presentation__main_title {
    font-weight: bold;
    font-size: 4.375rem;
}

.presentation__main_subtitle {
    font-size: 2.8125rem;
}

.presentation__main_wrapper__logo {
    text-align: center;
}