.presentation {
    min-height: 600px;
}

.presentation__main_wrapper {
    margin: 10% auto;
    overflow: auto;
    width: 65%;
}

.presentation__main_wrapper__text {
    text-align: center;
    display: block;
    height: 100%;
    line-height: 105px;
    float: left;
}

.presentation__main_title {
    font-weight: bold;
    font-size: 4.375rem;
}

.presentation__main_subtitle {
    font-size: 2.8125rem;
}

.presentation__main_wrapper__logo {
    text-align: center;
    width: 40%;
    float: right;
}

@media (max-width: 1200px) {
    .presentation__main_wrapper {
        width: 95%;
    }

    .presentation__main_wrapper__text {
        float: none;
    }

    .presentation__main_wrapper__logo {
        width: 100%;
        float: none;
    }
}