.testimony_box__title {
    text-align: center;
    font-size: 4.25rem;
    font-weight: bold;
    margin: 3rem 0;
}

.testimony_box__elements_wrapper {
    overflow: hidden;
}

.testimony_box__element {
    border-radius: 32px;
    padding: 2.5%;
    line-height: 27px;
}

.testimony_box__element__author {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: bold;
}